@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body,
div,
canvas {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
}


/* Container for everything */
#main {
    height: 100%;
    width: 100%;
    /* Set the default font */
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

.use_whole_screen {
    position: absolute;
    height: 100%;
    width: 100%;
}

.invisible {
    opacity: 0%;
}

.large_window {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #a0a0a0cc;
}

.center_label {
    text-align: center;
}

.default_button {
    width: 20vw;
    height: 5vh;
}

/* Contents should be centered horizontally and vertically */
.center_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window_500 {
    height: 500px;
    width: 800px;
}

.grey_bg {
    background-color: #a0a0a050;
}

.no_mouse {
    pointer-events: none;
}

.grab_mouse {
    pointer-events: auto;
}

.uitest {
    background-color: #70a0ff99;
    margin: 20px;
}

.header {
    height: 10%;
}

/* Vertically stack child elements */
.vbox {
    display: flex;
    flex-direction: column;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.ui_head {
    height: 8%;
}

.ui_body {
    height: 92%;
}

.side_column {
    width: 25%;
}

.main_column {
    width: 50%;
}

/* For UI elements that use 70% of their column */
.column_child_1 {
    flex-grow: 1;
    /* Unnecessary, this is the default value */
}

.column_child_3 {
    flex-grow: 3;
}

/* Area containing a window, such as details_area */
.window_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.window {
    width: 90%;
    height: 90%;
}

/* Window styles */
/* White, slightly transparent */
.window_white {
    background-color: #ffffffc0;
}

/* Text styles */
.window_title {
    font-size: 30px;
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}